<div id="new-project-header">
  What are you going to create?  
</div>

<div id="new-project-input">
  
  <div id="new-project-category">
    
    I want to fund my 

    <select id="new-form-category-dropdown" name="category_id">
        <% categories.each(function(category) { %>
          <option value="<%= category.escape('id') %>"><%= category.escape('name') %></option>
        <% }) %>
    </select> 

    company called...<br>
  </div>
  
  <input id="new-project-title" name="title" type="text" placeholder="title..."><br>


</div> 
<center>
  
<input id="new-project-button" type="submit" class="btn btn-primary" value="Make it Live!"><br>

</center>

