<h1>New Project</h1>

<label>Category<br>
  <select name="category_id">
    <% categories.each(function(category) { %>
      <option value="<%= category.escape('id') %>"><%= category.escape('name') %></option>
    <% }) %>
  </select>
</label><br>

<label>Title<br>
  <input name="title" type="text"><br>
</label><br>

<button class="btn btn-primary">Submit</button><br>


