<div id="new-project-header">
  What are you going to create?  
</div>

<div id="new-project-input">
  
  <div id="new-project-category">
    
    I want to fund my 

    <select id="new-form-category-dropdown" name="category_id">
        <% categories.each(function(category) { %>
          <option value="<%= category.escape('id') %>"><%= category.escape('name') %></option>
        <% }) %>
    </select> 

    company called...<br>
  </div>
  
  <input class="clearinput" name="title" type="text" placeholder="title..."><br>

  <textarea name="blurb" class="clearinput f25" maxlength="140" 
            placeholder="description..." rows="5" cols="37"></textarea>
  <div style="color:#999" class="f25 pt2"> 
   End Date:
  </div>
  <input type="date" name="end_date" placeholder="end date..."
         class="clearinput f25"      id="new-project-date">

  <input type="text" class="clearinput f25" placeholder="goal amount..."
         name="goal_amount">


</div> 
<center>
  
<input id="new-project-button" type="submit" class="btn btn-primary" value="Make it Live!"><br>

</center>

