<div class="project-small-view clearfix">
  <div class="project-thumbnail">
    <img src="<%= project.escape('img_url') %>" height="165" width="209">
  </div>
  <div class="project-thumbnail-content"></div>
  <div class="project-thumbnail-footer"></div>
</div>