<div id="user-details-header">
  <div id="image-box">  
    <img id="user-image" src="https://www.cryptocoinsnews.com/wp-content/uploads/2014/11/hoodiethehomeless.jpg" height="80" width="80" >
  </div>
  <div id="user-details-header-body">
    <div id="user-details-byline" >Project by</div>
    <div id="user-details-name"><%= user.escape('name') %></div>
    <div id="user-details-location">Nowhere, Usa</div>
  </div>
</div>
<div id="user-details-body">
  <div id="user-details-projects">
    <img class="user-details-icon" src="assets/Bitcoin.png" height="14" width="14">
    <span id="user-details-other-projects">
      7 created
    </span>
    <span class="caret"></span>
    <span id="user-details-backed-projects">
      166 backed
    </span>
  </div>
  <div id="user-details-friends">
  <i class="user-details-icon fa fa-facebook-square"></i>
    <%= user.escape('name') %> 20 friends
  </div>
  <div id="user-details-website">
  <i class="user-details-icon fa fa-globe" ></i>
    sillyurl.com
  </div>
</div>
<div id="user-details-footer" class="clearfix">
  <div id="user-bio">See full bio</div>
  <div id="user-contact">Contact me</div>
</div>