<div id="user-details-header">
  <div id="image-box">  
    <img id="user-image" src="http://www.scmp.com/sites/default/files/styles/980w/public/2014/06/17/japan_bitcoin_jesus_498041343_43646691.jpg?itok=UgD2f8Za" height="80" width="80" >
  </div>
  <div id="user-details-header-body">
    <div id="user-details-byline" >Project by</div>
    <div id="user-details-name"><%= user.escape('name') %></div>
    <div id="user-details-location">Nowhere, Usa</div>
  </div>
</div>
<div id="user-details-body">
  <div id="user-details-projects">
    <img class="user-details-icon" src="assets/Bitcoin.png" height="14" width="14">
    <span id="user-details-other-projects">
      7 created
    </span>
    <span class="caret"></span>
    <span id="user-details-backed-projects">
      166 backed
    </span>
  </div>

  Fake user 20 friends

  sillyurl.com
</div>