<div class="jumbotron">
  <div class="container">
    <center><h2>You're only moments away from creating a new project!</h2>
    <a class="btn btn-success" href="projects/new">Start a project!</a></center>
  </div>
</div>