<div class="pledge-overlay">
<div class="pledge-table">
  
 <div class="pledge-cell"> 
  Select this reward
 </div>
</div>
</div>

<div class="pledge-small-view">
  <div class="pledge-small-title">  
    Pledge <i class="fa fa-btc"></i><%= pledge.escape('amount') %> or more<br>
  </div>

  <div class="pledge-small-backers">  
    <i class="fa fa-cog"></i> <%= pledge.escape('num_backers') %> backers<br>
  </div>

  <div class="pledge-small-details">  
    <%= pledge.escape('details') %><br>
  </div>

  <div class="pledge-small-delivery">
    <b>Estimated delivery:</b> <%= moment(pledge.escape('delivery_date')).format('MMM YYYY') %>
  </div>
</div>