<h1>New Project</h1>

<form action="/projects" method="post">
  <%= auth_token %>

  <label>Title<br>
    <input name="project[title]" type="text"><br>
  </label><br>

  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>