/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  background-color: white;
  margin-bottom: 0;
}


.col-md-2point4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20%;
}

.category-name {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
  a {color: #828587;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-container {
  width: 1002px;
  margin: 0 auto;
}

#project-show-header {
  margin: 0 10px;
}

#project-title-and-byline {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;  
}

#project-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

#project-show-nav-left {
  margin-bottom: 10px;
  font-weight: bold;
  height: 31px;
}

#project-show-nav-left li {
  padding: 10px 0;
  float: left;
  list-style: none;
  margin-right: 20px;
  color: grey;
  &:hover {
    color: #081245;
    cursor: pointer;
  }
}

#project-show-nav-left li.active {
  color: inherit;
  border-bottom: 5px solid;
  border-color: #2BDE73;

}

#project-show-nav-left li::after {
  content: attr(count);
  min-width: 20px;
  height: 20px;
  padding-left: 3px;
  padding-right: 3px;
  display:inline-block;
  background-color: grey;
  vertical-align:middle;
  margin-left: 3px;
  border-radius: 3px;
  color: white;
  text-align: center;
  &:hover {
    color:white;
  }
}

#project-show-nav-left li:first-child::after {
  content: none;
}

.primary-container {
  border: 1px solid #d9d9de;
  border-radius: 6px;
  padding: 30px 20px;
  background-color: white;
}

#project-show-left-column {
  float: left;
  margin: 0 10px;
  width: 640px;
}

#project-show-right-column {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  width: 280px;
}

#blurb-box {
  width: 640px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#blurb {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 30px;
}

#stat-block {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stat-row {
  margin-bottom: 10px;
}

.stat-info {
  color: #0f2105;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.0416;
}

.stat-text {
  color: #0f2105;
  font-weight: bold;
}

#user-details {
  background-color: #E8F6FF;
  border-radius: 6px;
}

#user-details-header {
  padding: 20px;
}

#image-box {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

#user-image {
  border-radius: 50%;
}

#user-details-header-body {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  font-weight: bold;
}

#user-details-byline {
  margin-bottom: 10px;
  font-size: 12px;
}

#user-details-name {
  font-size: 14px;
  line-height: 20px;
}

#user-details-location {
  font-size: 12px;
  color: #00A0FF;
  &:hover {
    color: #081245;
    cursor: pointer;
  }
}

#user-details-body {
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

#user-details-projects {
  margin-bottom: 10px;
}

#user-details-other-projects {
  font-weight: bold;
  &:hover {
    color: #081245;
    cursor: pointer;
  }
}

#user-details-backed-projects {
  font-weight: bold;
  &:hover {
    color: #081245;
    cursor: pointer;
  }
}

#user-details-friends {
  margin-bottom: 10px;
}

#user-details-website {
  margin-bottom: 10px;
}

#user-details-footer {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #9CD8FF;
  color: #00A0FF;
  background-color: #DEF2FF;
  padding: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#user-bio {
  border-right: 1px solid #9CD8FF;
  float: left;
  padding: 15px;
  width: 50%;
  &:hover {
    color: #081245;
    background-color: #E8F6FF;
  }
}

#user-contact {
  padding: 15px;
  float: right;
  width: 50%;
  &:hover {
    color: #081245;
    background-color: #E8F6FF;
  }
}
.user-details-icon {
  margin-right: 5px;
  color: #828587;
}

#pledge-div {
 padding-left: 20px;
 padding-right: 20px;
}

#pledge-button {
  color: white;
  background-color: #2bde73;
  min-height: 20px;
  line-height: 20px;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: auto;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

#min-pledge {
  color: #0f2105;
  font-weight: normal;
  font-size: 12px;
}

#pledge-button:hover {
  background-color: #26b258;
}

#stat-footer {
  padding: 20px;
  font-size: 12px;
}

#pledges {
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #f7fafa;
}

.pledge {
  padding: 20px;
}

#project-list {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.project-small {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  width: 25%;
  list-style: none;
}

.project-small-view {
  border: 1px solid #D9D9DE;
  border-radius: 6px;
  background-color: white;
}

.project-thumbnail {
  height: 165px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  display: block;
}

.project-thumbnail-content {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

.project-thumbnail-title {
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 0.25em;
  &:hover {
    color: #081245;
  } 
}

.project-thumbnail-details {
  color: #828587;
}

.project-thumbnail-byline {
  margin-bottom: 10px;
}

.project-thumbnail-blurb {
  margin-bottom: 20px;
}

.project-thumbnail-footer {
  
}

.project-thumbnail-location {
  padding-bottom: 10px;
  color: #828587;
  &:hover {
    color: #081245;
  } 
}

.pledge-show-title {
  color: #2BDE73;
  font-size: 20px;
  font-weight: bold;
  margin: -6px -20px 30px;
  padding-left: 20px;
  line-height: 50px;
  /*font: 16px/1.5 "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;*/
}


a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
  background-color: #F7FAFA;
  font: 16px/1.5 "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #0F2105;
  
}