<%= render 'jumbotron' %>

<div class="container">
  <% @categories.each_with_index do |category, idx| %>
    <% if idx % 5 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-md-24">
      <div class="well well-lg">
        <div class="category-name">
          <a href="/categories/<%= category.id %>"><%= category.name %></a>
        </div>
      </div>
    </div>
    <% if (idx + 1) % 5 == 0 %>
      </div>
    <% end %>
  <% end -%>
</div>

