<div class="jumbotron">
  <div class="container">
    <center><h2>New Explore an incredible digital universe!</h2></center>
  </div>
</div>

<div class="container center">
  <% categories.each(function (category, idx) { %>
    <% if ( idx % 5 === 0) { %>
      <div class="row">
    <% } %>
    <div class="category-container button-<%= idx %>">
      <a href="#categories/<%= category.escape('id') %>" class="category-button">
        <div class="button-scroller">
          <div class="button-view">   
            <div class="category-count v-center">
              <%= category.escape('project_count') %> live projects
            </div>
          </div>
          <div class="button-view">
            <div class="category-title">
              <%= category.escape('name') %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% if ((idx + 1) % 5 === 0) {%>
      </div>
    <% } %>
  <% }) %>
</div>